/* REUSABLE COMPONENTS */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #333;
}

.heading-primary {
  line-height: 1.05;
  font-size: 5.2rem;
}

.heading-secondary {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #cf711f;
  font-weight: 500;
  margin-bottom: 1.6rem;
  letter-spacing: 1.25px;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn.btn--full:link,
.btn.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn.btn--full:hover,
.btn.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  color: #333;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 2.4rem !important;
}

.margin-bottom-lg {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-xl {
  margin-bottom: 9.6rem !important;
}

strong {
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 9.6rem;

  /* note he had added margin-bottom: 9.6 rem here, but I didn't do it which actually worked into my advantage later on for the price grid section! */
  /* note: to have it on elements that you don't want to you can specify .grid:not(:last-child){margin-bottom: 9.6rem;} for example. */
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
e .grid--center-vert {
  align-items: center;
}

.grid--center-hor {
  justify-items: center;
}

/* Component classes */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list-item--pricing-card {
  justify-content: center;
}

.list-item-icon {
  color: #e67e22;
  width: 2.4rem;
  height: 2.4rem;
}

.list.list--pricing-card {
  gap: 1.6rem;
}
