* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  color: #555;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 4px #eea564;
}

/* Hero section */
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

.hero-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
}

.hero-btns {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.delivered-container {
  margin-top: 9.6rem;
}

.delivered-img {
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 4px solid #fdf2e9;
  margin-bottom: 0.8rem;
}

.delivered-img:last-child {
  margin-right: 0;
}

.delivered-msg span {
  color: #cf711f;
  font-weight: 700;
}

.delivered-msg {
  font-weight: 600;
}

/* HEADER */
.header {
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky .header {
  background-color: hsla(0, 0%, 100%, 0.97);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
}

.main-nav {
  display: flex;
}

.logo {
  height: 3.2rem;
}

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-item {
  list-style: none;
}

.main-nav-item a:link,
.main-nav-item a:visited {
  text-decoration: none;
  color: #555;
  font-weight: 500 !important;
  font-size: 1.8rem;
  display: inline-block;
  transition: all 0.3s;
}

.main-nav-item a:hover,
.main-nav-item a:active {
  color: #cf711f;
}

.btn-mobile-nav {
  border: none;
  background: none;
  display: none;
  transition: all 0.3s;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Featured-in Section */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #888;
  text-align: center;
  margin-bottom: 2.4rem;
}

.featured-images {
  display: flex;
  justify-content: space-around;
  gap: 1.6rem;
}

.featured-img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* HOW-TO SECTION */
.section-how-to {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 7.4rem;
  font-weight: 600;
  color: #ccc;
  display: block;
  margin-bottom: 1.6rem;
}

.step-description {
  line-height: 1.8;
  font-size: 1.8rem;
}

.step-img-box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  text-align: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae5d3;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: hsl(28, 32%, 79%);
  z-index: -1;
  box-shadow: 0 2.4rem 6rem 0rem rgba(0, 0, 0, 0.35);
}

.step-img-box:nth-child(3)::after {
  box-shadow: 0 0.5rem 6rem 1rem rgba(0, 0, 0, 0.35);
}
.step-img-box:nth-child(6)::after {
  box-shadow: 0 0.5rem 6rem 3rem rgba(0, 0, 0, 0.35);
}

.step-img {
  width: 35%;
}

/* Meal plan section */
.section-meals {
  padding: 9.6rem 0;
}

.meal-box {
  box-shadow: 0 0.05rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.5s;
}

.meal-box:hover {
  transform: translateY(-3%);

  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.meal-tag {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: #333;
  font-weight: 500;
  border-radius: 100px;
  padding: 0.4rem 1.2rem;
}

.meal-tag--vegetarian {
  background-color: #74b816;
}

.meal-tag--vegan {
  background-color: #c0eb75;
}

.meal-tag--paleo {
  background-color: #ffe066;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #333;
}

.meal-img-box img {
  width: 100%;
}

.meal-description-box {
  padding: 4rem 4.8rem 4.8rem 4.8rem;
}

.meal-attributes {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-attribute-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.see-all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* Testimonials section */
.section-testimonials {
  padding: 2.4rem 2.4rem 2.4rem 4.8rem;
  background-color: #fdf2e9;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  gap: 9.6rem;
}

.testimonials-box {
  padding: 7.2rem 0;
  align-self: start;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 2.4rem;
}

.testimonial-img {
  width: 4.8rem; /*Note: this stays fixed as it doesn't need to part of the flexible layout using %....!*/
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  font-style: italic;
}

.testimonial-author {
  font-size: 1.4rem;
  color: #6f6f6f;
  font-weight: 400;
  /* font-style: italic; */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-img-box {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  transition: all 0.3s;
  display: block;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/* Pricing and features section */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-card {
  width: 75%;
  border-radius: 12px;
  padding: 6.4rem;
}

.pricing-card--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05);
}

.pricing-card--complete::after {
  content: "Best Value";
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffe066;
  padding: 0.8rem 4.8rem;
  display: block;
  position: absolute;
  top: 6.9%;
  right: -10.5%;
  transform: rotate(45deg);
}

.pricing-card--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.pricing-card-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #cf711f;
  margin-bottom: 3.2rem;
  font-weight: 500;
}

.pricing-card-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.pricing-card-price span {
  font-size: 3.2rem;
}

.pricing-card-price-per-meal {
  font-size: 1.6rem;
  color: #6f6f6f;
  margin-bottom: 4.8rem;
}

.pricing-card-sign-up {
  text-align: center;
}

.pricing-detail {
  font-size: 1.4rem;
  font-style: italic;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  color: #cf711f;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* CTA section */
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.grid--cta.grid {
  grid-template-columns: 2fr 1fr;
}

.cta {
  border-radius: 11px;
  color: #100902;
  overflow: hidden;
  background-image: linear-gradient(to right, hsl(28, 74%, 41%), #e67e22);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.cta-text-box {
  padding: 6.4rem 6.4rem 6.4rem 6.4rem;
}

.heading-cta.heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img {
  background-image: linear-gradient(hsla(28, 74%, 41%, 0.446), hsla(28, 80%, 52%, 0.407)), url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  align-items: center;
}

.cta-form label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 9px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  background-color: #fdf2e9;
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form *:focus {
  box-shadow: 0 0 0 4px #d9d9d988;

  outline: none;
}

.btn--cta.btn {
  background-color: #100902;
  color: #fff;
  align-self: end;
  padding: 1.2rem 2.4rem;
}

.btn--cta.btn:hover {
  background-color: #fff;
  color: #100902;
}

/* Footer section */

.section-footer {
  font-size: 1.6rem;
  padding: 9.6rem 0;
  border-top: 2px solid hsla(0, 0%, 44%, 0.092);
}

.logo--footer {
  height: 2.4rem;
  margin-bottom: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  margin-bottom: auto;
}

.social-links ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #555;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.footer-header {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.6rem;
}

.link--footer {
  display: inline-block;
  padding-bottom: 0.1rem;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.link--footer:hover {
  box-shadow: inset 0 -1px 0 #555;
}

.link--contact:first-of-type {
  margin-bottom: 0.4rem;
}

.grid--footer.grid {
  grid-template-columns: 33.32fr 33.32fr repeat(3, 16.66fr);
}

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
